<!DOCTYPE html>
<html>
<head>
  <title>SmartForce.PRO</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<%= render 'layouts/header' %>
<body>
	<div class="container">
	<%= yield %>
	<%= render 'layouts/footer' %>
</div>

</body>
</html>
config.assets.initialize_on_precompile = false